<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

  <!-- Invoice Info -->
  <div class="row spacer helvetica-text">

    <!-- QR Code for xsmall screens -->
    <div class="col-xs-12">
      Invoice <span class="green"> <%= _id %></span><br />
      <% lineItems.forEach(function(lineItem){ %>
        <span><%= lineItem.description %>.........<%= lineItem.quantity %>.....<%= lineItem.amount %></span>  <br />
      <% }); %>
      <br />
      Total Amount <%= totalAmount %>
      <form method="POST" action="/invoices/<%= _id %>">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn">
          <button type="submit" class="btn btn-lg btn-default">Pay Now</button>
          </div>
          <select name="currency" class="form-control currency-dropdown">
            <option value="BTC" selected="selected">BTC</option>
            <option value="USD">USD</option>
          </select>
        </div>
      </div>
    </form>
    </div>
  </div>
</body>
</html>
