<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

    <!-- Invoice Info -->
    <div class="row spacer">
      <div class="col-sm-12">
        Invoice 
        <span class="green hidden-xs"> <%= invoice._id %></span>
        <span class="green visible-xs mobile-text"><%= invoice._id %></span>
      </div>
    </div>

    <% invoice.line_items.forEach(function(item){ %>
      <div class="row line-item thin-underline">
        <div class="col-xs-12 col-sm-4 dark-gray"><%= item.description %></div>
        <div class="col-xs-4 visible-xs mobile-lbl-text">Quantity</div>          
        <div class="col-xs-8 col-sm-2 right"><%= item.quantity %> &times;</div>
        <div class="col-xs-4 visible-xs mobile-lbl-text">Cost</div>          
        <div class="col-xs-8 col-sm-3 right">
          <%= item.amount %> <%= invoice.currency.toUpperCase() %>
        </div> 
        <div class="col-xs-4 visible-xs mobile-lbl-text">Line Total</div>          
        <div class="col-xs-8 col-sm-3 right">
          <%= item.line_total %> <%= invoice.currency.toUpperCase() %> 
        </div>
      </div>
    <% }); %>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% if (invoice.remaining_balance > 0) { %>
          <form method="POST" action="/pay/<%= invoice._id %>">
            <button type="submit" class="btn btn-lg btn-default btn-wide">
              Pay Now
            </button>
          </form>
        <% } %>
      </div>
      <div class="col-xs-12 col-sm-8 spacer-5 right dark-gray">
        <span class="visible-xs float-left medium-text">Total</span>
        <span class="hidden-xs float-left">Balance Total</span>
        <span class="visible-xs medium-text"><%= invoice.balance_due %> <%= invoice.currency.toUpperCase() %></span>
        <span class="hidden-xs"><%= invoice.balance_due %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row visible-xs medium-text">
      <div class="col-xs-12 right gray">
          <span class="float-left dark-gray">Paid</span>
          <span class="green"><%= invoice.total_paid %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-sm-4"></div>
      <div class="col-sm-8 right gray">
          <span class="float-left dark-gray">Amount Paid</span>
          <span class="green"><%= invoice.total_paid %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row visible-xs medium-text">
      <div class="col-xs-12 right gray">
          <span class="float-left dark-gray">Due</span>
          <span class="red"><%= invoice.remaining_balance %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-sm-4"></div>
      <div class="col-sm-8 right gray">
          <span class="float-left dark-gray">Amount Due</span>
          <span class="red"><%= invoice.remaining_balance %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <br />
    <br />

    <!-- Payment History -->
    <% if (invoice.payment_history.length > 0) { %>
      <div class="row">
        <div class="col-sm-12">
          Payment History
        </div>
      </div>

      <% invoice.payment_history.forEach(function(payment) { %>
        <div class="row line-item thin-underline">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <span class="visible-xs mobile-address-text"><a href="#BlockChainInfo"><%= payment.address %></a></span>
            <span class="hidden-xs address-text"><a href="#BlockChainInfo"><%= payment.address %></a></span>
          </div>
          <div class="col-xs-3 visible-xs mobile-lbl-text">Status</div>
          <div class="col-xs-9 col-sm-2 col-md-3 right <%= payment.status.toLowerCase() %>">
            <%= payment.status %>
          </div>
          <div class="col-xs-3 visible-xs mobile-lbl-text">Amount</div>
          <div class="col-xs-9 col-sm-4 col-md-3 right">
            <% if (!payment.amount_paid) { %>
              0
            <% } else { %>
              <%= payment.amount_paid %>
            <% } %>
            BTC
          </div> 
        </div>
      <% }); %>
    <% } %>

  </div>
</body>
</html>
