<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

    <!-- Invoice Info -->
    <div class="row spacer helvetica-text">
      <div class="col-sm-12">
        Invoice 
        <span class="green hidden-xs"> <%= _id %></span>
        <span class="green visible-xs medium-text"><%= _id %></span>
      </div>
    </div>

    <% line_items.forEach(function(item){ %>
      <div class="row line-item thin-underline helvetica-text">
        <div class="col-sm-6"><%= item.description %></div>
        <div class="col-sm-2 right"><%= item.quantity %> &times;</div>
        <div class="col-sm-4 right">
          <%= item.amount %> <%= currency.toUpperCase() %>
        </div> 
      </div>
    <% }); %>

    <div class="row helvetica-text">
      <div class="col-xs-4">
        <form method="POST" action="/pay/<%= _id %>">
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-default btn-wide">
              Pay Now
            </button>
          </div>
        </form>      
      </div>
      <div class="col-xs-8 spacer-5 right">
        <span class="spacer-right-10 hidden-xs">Balance Due</span>
        <span class="gray">
          <%= balance_due %> <%= currency.toUpperCase() %>  
        </span>
      </div>
    </div>

  </div>
</body>
</html>
