<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

    <!-- Invoice Info -->
    <div class="row spacer">
      <div class="col-sm-12">
        Invoice 
        <span class="green hidden-xs"> <%= invoice._id %></span>
        <span class="green visible-xs medium-text"><%= invoice._id %></span>
      </div>
    </div>

    <% invoice.line_items.forEach(function(item){ %>
      <div class="row line-item thin-underline">
        <div class="col-xs-12 col-sm-4 dark-gray"><%= item.description %></div>
        <div class="col-xs-4 visible-xs med-sm-text">Quantity</div>          
        <div class="col-xs-8 col-sm-2 right"><%= item.quantity %> &times;</div>
        <div class="col-xs-4 visible-xs med-sm-text">Cost</div>          
        <div class="col-xs-8 col-sm-3 right">
          <%= item.amount %> <%= invoice.currency.toUpperCase() %>
        </div> 
        <div class="col-xs-4 visible-xs med-sm-text">Line Total</div>          
        <div class="col-xs-8 col-sm-3 right">
          <%= item.line_total %> <%= invoice.currency.toUpperCase() %> 
        </div>
      </div>
    <% }); %>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <form method="POST" action="/pay/<%= invoice._id %>">
          <button type="submit" class="btn btn-lg btn-default btn-wide">
            Pay Now
          </button>
        </form>      
      </div>
      <div class="col-xs-12 col-sm-8 spacer-5 right dark-gray">
          <span class="visible-xs float-left">Total</span>
          <span class="hidden-xs float-left">Balance Total</span>
          <%= invoice.balance_due %> <%= invoice.currency.toUpperCase() %>
      </div>
    </div>

    <div class="row visible-xs">
      <div class="col-xs-12 right gray">
          <span class="float-left dark-gray">Paid</span>
          <span class="green"><%= invoice.total_paid %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-sm-4"></div>
      <div class="col-sm-8 right gray">
          <span class="float-left dark-gray">Amount Paid</span>
          <span class="green"><%= invoice.total_paid %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row visible-xs">
      <div class="col-xs-12 right gray">
          <span class="float-left dark-gray">Due</span>
          <span class="red"><%= invoice.remaining_balance %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-sm-4"></div>
      <div class="col-sm-8 right gray">
          <span class="float-left dark-gray">Amount Due</span>
          <span class="red"><%= invoice.remaining_balance %> <%= invoice.currency.toUpperCase() %></span>
      </div>
    </div>

    <br />
    <br />

    <!-- Payment History -->
    <% if (Object.keys(invoice.payments).length > 0) { %>
      <div class="row">
        <div class="col-sm-12">
          Payment History
        </div>
      </div>

      <% Object.keys(invoice.payments).forEach(function(address){ %>
        <% if (invoice.payments[address].status.toLowerCase() !== 'unpaid') { %>
          <div class="row line-item thin-underline">
            <div class="col-xs-12 col-sm-6 col-md-6 address-text">
              <a href="#BlockChainInfo"><%= address %></a>
            </div>
            <div class="col-xs-4 visible-xs med-sm-text">Status</div>
            <div class="col-xs-8 col-sm-2 col-md-3 right <%= invoice.payments[address].status.toLowerCase() %>">
              <%= invoice.payments[address].status %>
            </div>
            <div class="col-xs-4 visible-xs med-sm-text">Amount</div>
            <div class="col-xs-8 col-sm-4 col-md-3 right">
              <% if (!invoice.payments[address].amount_paid) { %>
                0
              <% } else { %>
                <%= invoice.payments[address].amount_paid %>
              <% } %>
              BTC
            </div> 
          </div>
        <% } %>
      <% }); %>
    <% } %>

  </div>
</body>
</html>
