<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

    <!-- Invoice Info -->
    <div class="row spacer helvetica-text">
      <div class="col-sm-12">
        Invoice 
        <span class="green hidden-xs"> <%= invoice._id %></span>
        <span class="green visible-xs medium-text"><%= invoice._id %></span>
      </div>
    </div>

    <% invoice.line_items.forEach(function(item){ %>
      <div class="row line-item thin-underline helvetica-text">
        <div class="col-sm-4"><%= item.description %></div>
        <div class="col-sm-2 right"><%= item.quantity %> &times;</div>
        <div class="col-sm-3 right">
          <%= item.amount %> <%= invoice.currency.toUpperCase() %>
        </div> 
        <div class="col-sm-3 right">
          <%= item.line_total %> <%= invoice.currency.toUpperCase() %> 
        </div>
      </div>
    <% }); %>

    <div class="row helvetica-text">
      <div class="col-xs-12 col-sm-4">
        <form method="POST" action="/pay/<%= invoice._id %>">
          <button type="submit" class="btn btn-lg btn-default btn-wide">
            Pay Now
          </button>
        </form>      
      </div>
      <div class="col-xs-12 col-sm-8 spacer-5 right gray">
        <div class="balance-container">
          <span class="hidden-xs float-left">Balance Due</span>
          <span class="red"><%= invoice.balance_due %> <%= invoice.currency.toUpperCase() %></span>
        </div>
      </div>
    </div>

    <div class="row helvetica-text">
      <div class="col-xs-12 right gray">
        <div class="balance-container">
          <span class="hidden-xs float-left">Balance Paid</span>
          <span class="green"><%= invoice.total_paid %> <%= invoice.currency.toUpperCase() %></span>
        </div>
      </div>
    </div>

    <div class="row helvetica-text">
      <div class="col-xs-12 right gray">
        <div class="balance-container">
          <span class="hidden-xs float-left">Remaining</span>
          <span class="orange"><%= invoice.remaining_balance %> <%= invoice.currency.toUpperCase() %></span>
        </div>
      </div>
    </div>

    <br />
    <br />

    <!-- Payment History -->
    <% if (Object.keys(invoice.payments).length > 0) { %>
      <div class="row helvetica-text">
        <div class="col-sm-12">
          Payment History
        </div>
      </div>

      <% Object.keys(invoice.payments).forEach(function(address){ %>
        <div class="row line-item thin-underline helvetica-text">
          <div class="col-sm-6 address-text">
            <a href="#BlockChainInfo"><%= address %></a>
          </div>
          <div class="col-sm-3 right <%= invoice.payments[address].status.toLowerCase() %>">
            <%= invoice.payments[address].status %>
          </div>
          <div class="col-sm-3 right">
            <% if (!invoice.payments[address].amount_paid) { %>
              0
            <% } else { %>
              <%= invoice.payments[address].amount_paid %>
            <% } %>
            BTC
          </div> 
        </div>
      <% }); %>
    <% } %>

  </div>
</body>
</html>
