<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

    <!-- Payment Info -->
    <div class="row spacer">

      <!-- QR Code for xsmall screens -->
      <div class="col-md-5 col-sm-6 center-margin visible-xs no-padding">
        <a href="bitcoin:<%= address %>?amount=<%= amount %>">
          <img width="320" height="320" src="<%= qrImageUrl %>" alt="" title="" />
        </a>
        <br />
      </div>

      <!-- Data for xsmall screens -->
      <div class="col-md-7 col-sm-6 col-lg-8 center-margin-data visible-xs no-padding">
          <span class="<%= status %>">
            <% if (status === 'pending') { %>
              Payment is Pending
            <% } else if (status === 'unpaid') { %>
              Balance is Unpaid
            <% } else if (status === 'paid') { %>
              Balance is Paid
            <% } else if (status === 'partial') { %>
              Balance is Underpaid
            <% } else if (status === 'overpaid') { %>
              Balance is Overpaid
            <% } else if (status === 'expired') { %>
              Payment is Expired
            <% } else { %>
              Payment status is Unknown
            <% } %>
          </span>
          <br />
          <% if (amountLastFour === '0000') { %>
          <%= amountFirstFour %> BTC
          <% } else { %>
          <%= amountFirstFour %><span class="gray"><%= amountLastFour %></span> BTC
          <% } %>
          <% if (status === 'unpaid' && showRefresh) { %>
            <a href="<%= invoice_id %>">
              <img class="right-icon" src="/images/refresh.png" />
            </a>
          <% } %>
          <br />
          <span class="green"><%= confirmations %></span> Confirmations
          <a href="#BlockChainLink">
            <img class="right-icon" src="/images/info.png" />
          </a>
          <input type="text" class="form-control address-spacer" value="<%= address %>" />
          <span class="red">This address is only valid for the next 15 minutes.</span>
      </div>

      <!-- Data for non mobile -->
      <div class="col-md-7 col-sm-6 col-lg-8 hidden-xs">
          <span class="<%= status %>">
            <% if (status === 'pending') { %>
              Payment is Pending
            <% } else if (status === 'unpaid') { %>
              Balance is Unpaid
            <% } else if (status === 'paid') { %>
              Balance has been Paid
            <% } else if (status === 'partial') { %>
              Balance has been Underpaid
            <% } else if (status === 'overpaid') { %>
              Balance has been Overpaid
            <% } else if (status === 'expired') { %>
              Payment is Expired
            <% } else { %>
              Payment status is Unknown
            <% } %>
          </span>
          <div class="invoice-data-width">

            <% if (amountLastFour === '0000') { %>
              <%= amountFirstFour %> BTC 
            <% } else { %>
             <%= amountFirstFour %><span class="gray"><%= amountLastFour %></span> BTC
            <% } %>
            <% if (ntxId) { %>
              <span class="green"> Sent</span>
            <% } %>
            <% if (status === 'unpaid' && showRefresh) { %>
              <a href="<%= invoice_id %>">
                <img class="right-icon" src="/images/refresh.png" />
              </a>
            <% } %>
            <br />
            <span class="green"><%= confirmations %></span> Confirmations
            <a href="#BlockChainLink">
              <img class="right-icon" src="/images/info.png" />
            </a>
            <input type="text" class="form-control address-spacer" value="<%= address %>" />
          </div>
          <span class="red">This address is only valid for the next 15 minutes.</span>
      </div>

      <!-- QR Code for non mobile -->
      <div class="col-md-5 col-sm-6 col-lg-4 right hidden-xs">
        <a href="bitcoin:<%= address %>?amount=<%= amount %>">
          <img width="320" height="320" src="<%= qrImageUrl %>" alt="" title="" />
        </a>
      </div>

    </div>
  </div>
</body>
</html>
