<!doctype html>
<html>
<head>
  <title><%= appTitle %> - Payment <%= address %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1><%= appTitle %></h1>
      </div>
    </div>
    
      <div id="status-banner" class="row" style="<% if (!invoicePaid) { %>display: none;<% } %>">
        <div class="col-sm-12 alert alert-success xsmall-text alert-box"> 
          <span id="status-banner-text">
            <% if (remainingBalance < 0) { %>
                Invoice has been <strong>overpaid</strong>.
            <% } else if (invoicePaid) { %>
                Invoice has been paid in full.
            <% } %>
          </span>
          <a href="/invoices/<%= invoiceId %>">
            View Invoice
          </a>
        </div>
      </div>

    <!-- Payment Info -->
    <div class="row spacer">

      <!-- QR Code for xsmall screens -->
      <div class="qrcode col-md-5 col-sm-6 center-margin visible-xs no-padding">
        <% if (!txid) { %>
          <a href="<%= bitcoinUrl %>">
            <img width="320" height="320" src="<%= qrImageUrl %>" alt="" title="" />
          </a>
          <br />
        <% } %>
      </div>

      <!-- Data for xsmall screens -->
      <div class="col-md-7 col-sm-6 col-lg-8 center-margin-data visible-xs no-padding">
        <span class="status-text <%= status %>">
          <% if (status === 'pending') { %>
            Payment is Pending
          <% } else if (status === 'invalid') { %>
            Payment is Invalid
          <% } else if (status === 'unpaid') { %>
            Balance is Unpaid
          <% } else if (status === 'paid') { %>
            Balance is Paid
          <% } else if (status === 'partial') { %>
            Balance is Underpaid
          <% } else if (status === 'overpaid') { %>
            Balance is Overpaid
          <% } else if (status === 'expired') { %>
            Payment is Expired
          <% } else { %>
            Payment status is Unknown
          <% } %>
        </span>
        <br />
        <span class="amount-text">
          <% if (amountLastFour === '0000') { %>
            <%= amountFirstFour %> BTC 
          <% } else { %>
           <%= amountFirstFour %><span class="gray"><%= amountLastFour %></span> BTC
          <% } %>
        </span>
        <span style="<% if (!txid) { %>display: none;<% } %>" class="sent-text green"> Sent</span>
        <span class="refresh-link">
          <% if (!txid && isUSD) { %>
            <a href="<%= invoiceId %>">
              <img class="right-icon" src="/images/refresh.png" />
            </a>
          <% } %>
        </span>
        <br />
        <span class="green confirmations"><%= confirmations %></span> Confirmations
        <span class="info-link">
          <% if (chainExplorerUrl) { %>
            <a target="_blank" href="<%= chainExplorerUrl %>">
              <img class="right-icon" src="/images/info.png" />
            </a>
          <% } %>
        </span>
        <input type="text" class="address-input form-control address-spacer" value="<%= address %>" />
        <div>
          <% if (!txid && isUSD) { %>
            <span class="expiration-text red">Payment rate will refresh in <%= expires %>.</span>
          <% } %>
        </div>
      </div>

      <!-- Data for non mobile -->
      <div class="col-md-7 col-sm-6 col-lg-8 hidden-xs">
          <span class="status-text <%= status %>">
            <% if (status === 'pending') { %>
              Payment is Pending
            <% } else if (status === 'invalid') { %>
              Payment is Invalid
            <% } else if (status === 'unpaid') { %>
              Balance is Unpaid
            <% } else if (status === 'paid') { %>
              Balance is Paid
            <% } else if (status === 'partial') { %>
              Balance is Underpaid
            <% } else if (status === 'overpaid') { %>
              Balance is Overpaid
            <% } else if (status === 'expired') { %>
              Payment is Expired
            <% } else { %>
              Payment status is Unknown
            <% } %>
          </span>
          <div class="invoice-data-width">
            <span class="amount-text">
              <% if (amountLastFour === '0000') { %>
                <%= amountFirstFour %> BTC 
              <% } else { %>
               <%= amountFirstFour %><span class="gray"><%= amountLastFour %></span> BTC
              <% } %>
            </span>
            <span style="<% if (!txid) { %>display: none;<% } %>" class="sent-text green"> Sent</span>
            <span class="refresh-link">
              <% if (!txid && isUSD) { %>
                <a href="<%= invoiceId %>">
                  <img class="right-icon" src="/images/refresh.png" />
                </a>
              <% } %>
            </span>
            <br />
            <span class="green confirmations"><%= confirmations %></span> Confirmations
            <span class="info-link">
              <% if (chainExplorerUrl) { %>
                <a target="_blank" href="<%= chainExplorerUrl %>">
                  <img class="right-icon" src="/images/info.png" />
                </a>
              <% } %>
            </span>
            <input type="text" class="address-input form-control address-spacer" value="<%= address %>" />
          </div>
          <div>
            <% if (!txid && isUSD) { %>
              <span class="expiration-text red">Payment rate will refresh in <%= expires %>.</span>
            <% } %>
          </div>
      </div>

      <!-- QR Code for non mobile -->
      <div class="qrcode col-md-5 col-sm-6 col-lg-4 right hidden-xs">
        <% if (!txid) { %>
          <a href="<%= bitcoinUrl %>">
            <img width="320" height="320" src="<%= qrImageUrl %>" alt="" title="" />
          </a>
        <% } %>
      </div>

    </div>
  </div>
  <script src="/js/reloadpayment.js"></script>
  <script type="text/javascript">
    var expiration = Number('<%= expireTime %>');
    var queryUrl = '/api/pay/<%= invoiceId %>';
    reloadPayment(queryUrl, expiration);
  </script>
</body>
</html>
